@import 'src/styles/core';

.footer-container {
  background-color: $footer-color;
  text-align: center;
  height: $footer-height;
  padding: auto;
}

.footer-content {
  display: inline-block;
  color: white;
  padding-top: 32px;
}
