@import '../styles/core.scss';

.btn {
  margin: 2px;
}

.app-container {
  background-color: #cccccc;
  height: 100vh;
}

.control-bar-container {
  background-color: $primary-color;
}

.button-container {
  background-color: $secondary-color;
}
