$primary-color: #00203fcc;
$secondary-color: #d7f0e599;
$sorting-color: #f2aa4c;
$text-color: white;
$footer-color: #101820e6;

$header-height: 70px;
$control-bar-height: 50px;
$footer-height: 120px;
$button-container-height: 50px;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  sortingColor: $sorting-color;
}
