@import 'src/styles/core';

.bar-container {
  padding-top: 16px;
  background-color: $secondary-color;
  text-align: center;
  height: calc(
    100vh - #{$header-height} - #{$footer-height} - #{$button-container-height}
  );
}

.array-bar {
  display: inline-block;
  background-color: $primary-color;
}
